# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT-0

openapi: "3.0.1"
info:
  title: "bedrock-lambda-api"
  version: "1.0.0"
paths:
  /ask:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: "The message to send to the Bedrock model"
              required:
                - message
      responses:
        "200":
          description: "Response from Bedrock model"
          content:
            application/json:
              schema:
                type: object
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${StreamingResponseFunction.Arn}/invocations"
        httpMethod: "POST"
        type: "aws_proxy"
